<h1>Dashboard</h1>
<div class="row mt-4">
  <div class="col-md-6">
    <div class="card text-white bg-primary mb-3">
      <div class="card-body">
        <h5 class="card-title">Total Users</h5>
        <p class="card-text display-4"><%= @total_users %></p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card text-white bg-success mb-3">
      <div class="card-body">
        <h5 class="card-title">Total Posts</h5>
        <p class="card-text display-4"><%= @total_posts %></p>
        <%= link_to "Manage Posts", admin_posts_path, class: "btn btn-light" %>
      </div>
    </div>
  </div>
</div>